@font-face {
  font-family: 'spinner_rack_pro_bbitalic';
  src: url('../fonts/spinnerrackprobb-italic-webfont.woff2') format('woff2'),
       url('../fonts/spinnerrackprobb-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
