/* Main Styles */

* {
  box-sizing: border-box;
}
html, body {
  overflow: hidden;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: black;
}

/* Class Styles */

.ascii {
  color:rgb(255, 255, 255);
  font-family: monospace;
  font-size: 50pt;
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  }

  /* Classes for Banners and ASCII-Art */

  .ascii .banner-medium {
    font-size: 1.04vw;
    margin-top: 50px;
  }

  .ascii .banner-large {
    font-size: 0.85vw;
  }

  .ascii .banner-xlarge {
    font-size: 0.72vw;
  }

  .ascii .bat-small-width {
    font-size: 4.775vw;
  }

  .ascii .bat-medium-width {
    font-size: 1.3vw;
    color: red;
  }

  .ascii .bat-medium-width2 {
    font-size: 1.3vw;
    color: white;
    background-color: black;;
  }

  .ascii .bat-large-width {
    font-size: 2.1vw;
  }

  .ascii pre.banner-title {
    position: sticky;
    inset: 0 0 auto;
    font-size: 1.04vw;
    margin-top: 4.2vh;
    color: black;
  }

  
  .ascii .popups {
    position:fixed;
    inset: calc(11 * 1.04vw) 0 0;
    overflow: auto;
    overflow-y: hidden;
  }

  /* TRYOUT AUTOSCROLL */

  .canvas {
    position: relative;
    overflow-x: hidden;
  }

  .canvas .pre {
    animation: pre 3s linear infinite;
  }

  /* TRYOUT ENDS */

  .ascii .popups .canvas {
    width: 2130vw;
    height: 99vh;

  }
  .ascii .popups pre {
    position: absolute;
    /* background: black; */
    /* border: 1px solid white; */ 
  }
  .ascii .popups  pre.inverted {
    color: black;
    background: white;
  }
  .ascii pre[class^="image"] {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ascii .image1 {
    font-size: 0.157vw;
  }

  .ascii .image3 {
    font-size: 0.157vw;
    background-color: white;
    color: black;
  }
  .ascii .stills {
    font-size: .157vw;
  }
/* !!! IMAGE BLEND COLOR */

  .stills:after {
   content: "";
   background-image: url(../images/01.jpeg);   
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: overlay;
    overflow: hidden;
  } 
  

  .ascii .image2 {
    font-size: 0.268vw;
  }

  /* test for overflow / multilayers */ 
  .container {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    background-color: rgb(0, 255, 0);
    /* important part */
    display: grid;
    place-items: center;
    grid-template-areas: "inner-div";
    pointer-events: all;

    mix-blend-mode: multiply;
  }
  .ascii {
    height: 100vh;
  }

  .wrapper {
    position: absolute;
    inset: 20vh 0 0;
    pointer-events: none;
  }

  .ascii, .wrapper {
    overflow-y: auto;

    -ms-overflow-style: none;  /* IE and Edge */
       scrollbar-width: none;  /* Firefox */
  }

  .ascii::-webkit-scrollbar,
  .wrapper::-webkit-scrollbar {
    display: none;
  }

  .inner {
    height: 500px;
    width: 500px;
    /* important part */
    grid-area: inner-div;
  }

.bubble {
  font-size: 13pt;
  font-family: spinner_rack_pro_bbitalic;
}

  /* Test end*/ 

.testtest {
    font-size: 1vw;
    color: white;
  }

/* AUTO-SCROLL BUTTONS TEST */

.scroll-container {
  display: flex;
  align-items: center;
  position: relative;
  background-color: none;
  width: 6vw;
  margin-top: 75vh;
  height: 10vh;
}

#playButton, #pauseButton {
  position: absolute;
  top: 0;
  left: 30px; /* Ändere die Position nach Bedarf */
  background: #fff; /* Hintergrundfarbe anpassen */
  border: 1px solid #000; /* Rahmen anpassen */
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 30px 20 30 10 black;
}

#pauseButton {
  margin-left: 5vw;
}

/* OVERLAY */

        /* Stil für das Overlay */
        .overlay {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.7); /* Hintergrundfarbe mit Transparenz */
      }

      /* Stil für das Pop-up-Fenster */
      .informations {
          display: none;
          position: fixed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: rgb(0, 0, 0);
          padding: 20px;
          border: 1px solid #ffffff;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          z-index: 1000;
          width: 45vw;
          color: white;
          
      }
      .informations p {
        font-size: 15pt;
        font-family: spinner_rack_pro_bbitalic;
      }

      .informations h2 {
        font-size: 15pt;
        font-family: spinner_rack_pro_bbitalic;
      }

      /* Stil für den Schließen-Button */
      .close-button {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          color: white;
      }
